.cardHeader{
    display: flex;
    gap:27px;
}

.mainCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.cardBody{
    display: flex;
    width: 100%;
}

@media (max-width:490px){

    .cardHeader{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .cardBody{
        width: 100%;
        padding: 10px;
        display:grid;
    }

    .total{
        display: block;
        width: 100px;
    }

    .mainCard{
        display: flex;
        text-align: end;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        padding: 0;
    }

    .link{
        display: none;
    }


}