.cardHeader{
    display: flex;
    gap:27px;
}

@media (max-width:400px){

    .cardHeader{
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .cardBody{
        padding: 10px;
    }

    .total{
        display: block;
        width: 100px;
    }

    .mainCard{
        display: flex;
        text-align: end;
        flex-direction: column;
    }

    .link{
        display: none;
    }


}