.nav{
    display: none;
}

@media (max-width:400px){
    .status_div{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .functional{
        display: none;
    }
    .nav {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* boshqa elementlar ustida bo'lishi uchun */
        padding: 10px 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: -3px;
    }

    .cartDescription{
        margin-bottom: 25px;
        padding: 15px;
    }

    .description{
        display: flex;
        flex-direction: column;
    }

    .detailsData{
        display: grid;
    }

    .talbeDetails{
        padding: 0;
    }

    .tablePaddin{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .priceData{
        padding:12px
    }
}